.movie-card {
  border-radius: 5px;
  width: 40%;
  max-width: 200px;
  min-height: 150px;
  height: auto;
  border: 0.5px solid var(--color-black);
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
.movie-card--img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
